body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eef0f8;
    border-bottom-right-radius: 5px;
}

h1{
    margin: 0;
    padding: 25px;
    color: white;
    font-size: 15px;
    font-weight: lighter;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    margin-inline-start: 15%;
}

.sidenav__title{
    width: 100%;
    height: 8vh;
    background-color: #1a1a27;
}

.sidenav__subtitle h3{
    color: #414360;
    margin: 0;
    padding: 25px 0 0 25px;
    font-size: 11px;
    font-weight: lighter;
}

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1e1e2d;
    overflow-x: hidden;
}

.sidenav a {
    text-decoration: none;
    margin: 0;
    padding: 25px 0 0 25px;
    font-size: 13px;
    font-weight: lighter;
    color: #818181;
    display: block;
}

.sidenav a:hover, .sidenav a:hover .fa {
    color: #f1f1f1;
}

.header {
    font-size: 28px;
    margin-inline-start: 15%;
}

.header__content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 8vh;
    list-style: none;
    background-color: white;
}

ul.breadcrumb li {
    display: inline;
    color: #bebecb;
    font-size: 12px;
}

ul.breadcrumb li+li:nth-child(3n+0):before {
    padding: 8px;
    color: black;
    content: "•";
}

ul.breadcrumb li a {
    text-decoration: none;
    color: #bebecb;
}

ul.breadcrumb li a:hover {
    color: black;
    text-decoration: none;
}

ul.breadcrumb .nav__title {
    margin: 0;
    font-size: 17px;
    color: #181c32;
    font-weight: bold;
}

.content {
    width: 100%;
}

.fakedata {
    border-radius: 5px;
    display: flex;
    width: 90%;
    height: 50px;
    background-color: white;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 25px 0 25px 0;
    padding: 20px;
}

.fakedata p {
    margin: 5px;
}

.fakedata .fa{
    font-size: 35px;
    padding: 20px;
}

.table {
    border-radius: 5px;
    display: flex;
    height: 100%;
    width: 90%;
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}

.table__title {
    width: 100%;
}

.table__title p {
    font-size: 13px;
    color: #cfcfd8;
}

td .fa{
    color: #b5b5c3;
    padding: 10px;
}

td .fa:hover{
    color: black;
    cursor: pointer; /* Comme La Fouine */
    padding: 10px;
}

td .fa-cog:hover{
    animation: spin 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

td .fa-pencil:hover{
    animation: write 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.fa{
    padding-right: 15px;
    color: #494b74;
}

hr {
    margin: 0;
    margin-bottom: 15px;
}

.table__title h4 {
    margin: 0;
}

table {
    font-family: arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px;
}

.welcome{
    width: 80%;
    font-size: 15px;
    color: #7e8299;
    display: flex;
    justify-content: flex-end;
}

img{
    width: 40px;
    height: 40px;
}

.footer {
    width: 100%;
    margin-top: 10%;
}

.footer__content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 8vh;
    list-style: none;
    background-color: white;
    margin-inline-start: 15%;
}

.footer ul.breadcrumb li {
    display: inline;
    color: #bebecb;
    font-size: 14px;
}

.footer ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "";
}

.footer ul.breadcrumb li a {
    text-decoration: none;
    color: #bebecb;
}

.footer ul.breadcrumb li a:hover {
    color: #000000;
    text-decoration: none;
}

.footer .copyright__content{
    width: 87%;
    color: #b1b3c1;
    display: flex;
    justify-content: flex-end;
}

.footer .copyright:after{
    content: "©";
}

@keyframes spin { 
    from { 
        -webkit-transform: rotate(0deg); 
    } to { 
        -webkit-transform: rotate(360deg); 
    }
}

@keyframes write { 
    0%{-webkit-transform:rotate(5deg);}
	40%{-webkit-transform:rotate(-25deg);}
	50%{-webkit-transform:rotateZ(-15deg);}
	60%{-webkit-transform:rotateZ(-25deg);}
	70%{-webkit-transform:rotateZ(-15deg);}
	80%{-webkit-transform:rotateZ(-25deg);}
	90%{-webkit-transform:rotateZ(-15deg);}
	100%{-webkit-transform:rotateZ(-25deg);}
	}