@font-face {
    font-family: "Roboto";
    src: url('./Roboto-Black.ttf');
}

body{
    font-family: Arial, sans-serif, Roboto;
    color: #333333;
}

div{
    display: flex;
    border-radius: 5px;
    margin: 20px 0 20px 0;
    background-color: #eeeeee;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.first__section{
    text-align: center;
    padding-bottom: 15px;
}

.first__section h2{
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding-top: 50px;
    font-weight: bolder;
}

.first__section h4{
    text-align: center;
    margin: 0;
    font-weight: normal;
    padding-top: 25px;
}

.second__section {
    text-align: center;
    background-color: white;
    width: 98%;
}

.second__section img {
    width: 50%;
}

.second__section h4{
    padding-bottom: 15px;
    font-weight: normal;
    color: #616161;
}

.third__section h3{
    margin: 50px;
    text-align: center;
}

ul {
    width: 50%;
    margin: auto;
    color: #333333;
}

ul li {
    color: #464646;
}

.third__section .testimonial {
    text-align: center;
    margin-top: 50px;
    font-style: italic;
}

.wikipage{
    padding-bottom: 40px;
}

img{
    margin-top: 25px;
}