body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: url("../image/77eba96f-451f-41a9-a880-2ccb965e1926.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    margin: 0;
}

.section{
    text-align: center;
    background-color: rgba(113, 110, 255, 0.5) ;
    height: 100%;
    width: 100%;
    margin: auto;
}

.formulaire{
    border-radius: 5px;
    display: flex;
    width: 35%;
    height: auto;
    background-color: #292949fa;
    margin: auto;
    padding: 15px;
}

.radio__button, .checkboxes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label, p{
    font-size: 20px;
    margin-top: 30px;
}

input[type=text]{
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
    color: gray;
    padding: 5px;
}

input[type=checkbox], input[type=radio]{
    width: 20px;
    height: 20px;
}

textarea{
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
    color: gray;
}

input[type=submit]{
    margin-top: 30px;
    border-radius: 5px;
    width: 100%;
    color: white;
    background-color: #37af65;
    height: 50px;
    font-size: 20px;
}

.oui {
    padding: 5px;
}

select{
    border-radius: 5px;
    width: 615px;
    font-size: 20px;
    color: rgb(90, 90, 90);
    padding: 5px;
}

form{
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}