body{
    margin: 0;
}

header{
    height: 100vh;
    width: 100%;
}

#navigation {
    width: 100%;
    height: 95%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigation li {
    display: inline;
}

#navigation li a {
    margin: 15px;
    font-size: 50px;
    text-decoration: none;
}

#navigation li a:visited{
    text-decoration: none;
    color: blue;
}

#navigation li a:hover {
    color: red;
}